@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


body {
        font-family: "Open Sans", sans-serif;
        color: #431f03;
    }
    
    a {
        /* color: #ffb700;*/
        color: #ffe500;
        text-decoration: none;
    }
    
    a:hover {
        color: #964d0ab8;
        text-decoration: none;
    }
    
    h1,h2,h3,h4,h5,h6 {
        font-family: "Raleway", sans-serif, "Brush Script";
    }
    /*--# Back to top button--*/
    
    .back-to-top {
        position: fixed;
        visibility: hidden;
        opacity: 0;
        right: 15px;
        bottom: 15px;
        z-index: 996;
        background: #0000ea;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        transition: all 0.4s;
    }
    
    .back-to-top i {
        font-size: 28px;
        color: #fff;
        line-height: 0;
    }
    
    .back-to-top:hover {
        background: #ffff00;
        color: #fff;
    }
    
    .back-to-top.active {
        visibility: visible;
        opacity: 1;
    }
    /*---# Top Bar ----*/
    
    #topbar {
        background: #fde428;
        padding: 10px 0;
        font-size: 1vw;
    }
    
    #topbar .container i {
        font-style: normal;
        color: #0000ea;
        font-size: 1em;
    }
    
    #topbar .container i a,
    #topbar .container i span {
        padding-left: 5px;
        color: #000;
    }
    
    #topbar .container i a {
        line-height: 0;
        transition: 0.3s;
    }
    
    #topbar .container i a:hover {
        color: #daa520;
    }
    
    #topbar .social-links a {
        color: #0000ea;
        line-height: 0;
        transition: 0.3s;
        margin-left: 10px;
    }
    
    #topbar .social-links a:hover {
        color: #000;
    }
  
    /*--# Header--*/
    
    #header {
        height: 70px;
        transition: all 0.5s;
        z-index: 997;
        transition: all 0.5s;
        background: #fff;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0);
    }
    
    #header .logo h1 {
        font-size: 26px;
        padding: 0 0 0 8px;
        margin: 11px 0;
        line-height: 1;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        border-left: 8px solid #e96b56;
    }
    
    #header .logo h1 a, .logo h1 a:hover {
        color: #545454;
        text-decoration: none;
    }
    
    #header .logo img {
        padding: 0;
        margin: 0;
        max-height: 40px;
    }
    
    .scrolled-offset {
        margin-top: 70px;
    }
    /*--# Header Social Links--*/
    
    .header-social-links {
        margin-left: 20px;
        border-left: 1px solid #0000ea;
    }
    
    .header-social-links a {
        color: #0000ea;
        display: inline-block;
        line-height: 0px;
        transition: 0.3s;
        padding-left: 20px;
    }
    
    .header-social-links a i {
        line-height: 0;
        size: 12px;
    }
    
    .header-social-links a:hover {
        color: #fff;
    }
    
    @media (max-width: 768px) {
        .header-social-links {
            padding: 0 15px 0 0;
            border-left: 0;
        }
    }
    /*--# Navigation Menu--*/
    /*** Desktop Navigation*/
    
    .navbar {
        padding: 0;
    }
    
    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }
    
    .navbar li {
        position: relative;
    }
    
    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        color: #545454;
        white-space: nowrap;
        transition: 0.3s;
    }
    
    .navbar a i,
    .navbar a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
    }
    
    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
        color: darkblue;
    }
    
    .navbar .getstarted,
    .navbar .getstarted:focus {
        background: #e96b56;
        padding: 8px 20px;
        margin-left: 30px;
        border-radius: 4px;
        color: #fff;
    }
    
    .navbar .getstarted:hover,
    .navbar .getstarted:focus:hover {
        color: #fff;
        background: #ec7f6d;
    }
    
    .navbar .dropdown ul {
        display: block;
        position: absolute;
        left: 24px;
        top: calc(100% + 30px);
        margin: 0;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;
    }
    
    .navbar .dropdown ul li {
        min-width: 200px;
    }
    
    .navbar .dropdown ul a {
        padding: 10px 20px;
        font-size: 14px;
        text-transform: none;
        color: #545454;
    }
    
    .navbar .dropdown ul a i {
        font-size: 12px;
    }
    
    .navbar .dropdown ul a:hover,
    .navbar .dropdown ul .active:hover,
    .navbar .dropdown ul li:hover>a {
        color: #e96b56;
    }
    
    .navbar .dropdown:hover>ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }
    
    .navbar .dropdown .dropdown ul {
        top: 0;
        left: calc(100% - 30px);
        visibility: hidden;
    }
    
    .navbar .dropdown .dropdown:hover>ul {
        opacity: 1;
        top: 0;
        left: 100%;
        visibility: visible;
    }
    
    @media (max-width: 1366px) {
        .navbar .dropdown .dropdown ul {
            left: -90%;
        }
        .navbar .dropdown .dropdown:hover>ul {
            left: -100%;
        }
    }
    /**
* Mobile Navigation 
*/
    
    .mobile-nav-toggle {
        color: #545454;
        font-size: 28px;
        cursor: pointer;
        display: none;
        line-height: 0;
        transition: 0.5s;
    }
    
    .mobile-nav-toggle.bi-x {
        color: #fff;
    }
    
    @media (max-width: 991px) {
        .mobile-nav-toggle {
            display: block;
        }
        .navbar ul {
            display: none;
        }
    }
    
    .navbar-mobile {
        position: fixed;
        overflow: hidden;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(59, 59, 59, 0.9);
        transition: 0.3s;
        z-index: 999;
    }
    
    .navbar-mobile .mobile-nav-toggle {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    
    .navbar-mobile ul {
        display: block;
        position: absolute;
        top: 55px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        padding: 10px 0;
        background-color: #fff;
        overflow-y: auto;
        transition: 0.3s;
    }
    
    .navbar-mobile a,
    .navbar-mobile a:focus {
        padding: 10px 20px;
        font-size: 15px;
        color: #545454;
    }
    
    .navbar-mobile a:hover,
    .navbar-mobile .active,
    .navbar-mobile li:hover>a {
        color: #e96b56;
    }
    
    .navbar-mobile .getstarted,
    .navbar-mobile .getstarted:focus {
        margin: 15px;
    }
    
    .navbar-mobile .dropdown ul {
        position: static;
        display: none;
        margin: 10px 20px;
        padding: 10px 0;
        z-index: 99;
        opacity: 1;
        visibility: visible;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    }
    
    .navbar-mobile .dropdown ul li {
        min-width: 200px;
    }
    
    .navbar-mobile .dropdown ul a {
        padding: 10px 20px;
    }
    
    .navbar-mobile .dropdown ul a i {
        font-size: 12px;
    }
    
    .navbar-mobile .dropdown ul a:hover,
    .navbar-mobile .dropdown ul .active:hover,
    .navbar-mobile .dropdown ul li:hover>a {
        color: #e96b56;
    }
    
    .navbar-mobile .dropdown>.dropdown-active {
        display: block;
    }
   
    
.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-item {
    display: none;
    position: relative;
}

.carousel-item img {
    width: 100%;
    vertical-align: middle;
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.active {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
table {
    /*background-color: #0000b3;*/
    background-color: #fff;
    width: 100%;
    border-collapse: collapse;
}
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: #fff;
}
td span {
	font-size: 25px;
	font-weight: 400;
	display: inline-block;
	margin-top: 10px;
    color: #ff0000;
}

td a {
    color: #fff;
}
td a:hover{
    color: #fff;
    font-size: 48px;
}
table img{
    width: 100px;
    height: 100px;
}
/* Request Form */

.request-form {
	background-color: #0000b3;
	padding: 40px 0px;
	color: #fff;
}

.request-form h2 {
	font-size: 45px;
	font-weight: 600;
    color: #ffff00;
}

.request-form span {
	font-size: 15px;
	font-weight: 400;
	display: inline-block;
	margin-top: 10px;
}

.request-form a.border-button {
	margin-top: 12px;
	float: right;
}
.request-form a.border-button {
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 28px;
	border-radius: 30px;
	display: inline-block;
	transition: all 0.3s;
}

.request-form a.border-button:hover {
	background-color: #fff;
	color: #a4c639;
}
/* Partners Style */

.contact-partners {
	margin-top: -8px!important;
}

.partners {
	margin-top: 140px;
	background-color: #f7f7f7;
	padding: 60px 0px;
}

.partners .owl-item {
	text-align: center;
	cursor: pointer;
}

.partners .partner-item img {
	max-width: 156px;
	margin: auto;
}


/*
.page-heading {
	text-align: center;
	background-image: url(../);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 230px 0px 150px 0px;
	color: #fff;
}

.page-heading h1 {
	text-transform: capitalize;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 2px;
	margin-bottom: 18px;
}

.page-heading span {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	display: block;
}
*/


/**SECTION---***/

.section-header {
        text-align: center;
        padding-bottom: 40px;
    }
    
    .section-header h2 {
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 700;
        margin: 0;
        color: #4154f1;
        text-transform: uppercase;
    }
    
    .section-header p {
        margin: 10px 0 0 0;
        padding: 0;
        font-size: 38px;
        line-height: 42px;
        font-weight: 700;
        color: #012970;
    }
    
    @media (max-width: 768px) {
        .section-header p {
            font-size: 28px;
            line-height: 32px;
        }
    }
       
    section {
        padding: 60px 0;
        overflow: hidden;
    }
    
    .section-bg {
        background-color: #f1f7fd;
    }
    
    .section-title {
        text-align: center;
        padding-bottom: 30px;
    }
    
    .section-title h2 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        color: #2c4964;
    }
    
    .section-title h2::before {
        content: '';
        position: absolute;
        display: block;
        width: 120px;
        height: 1px;
        background: #ddd;
        bottom: 1px;
        left: calc(50% - 60px);
    }
    
    .section-title h2::after {
        content: '';
        position: absolute;
        display: block;
        width: 40px;
        height: 3px;
        background: #1977cc;
        bottom: 0;
        left: calc(50% - 20px);
    }
    
    .section-title p {
        margin-bottom: 0;
    }
    /*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
    
    .breadcrumbs {
        padding: 20px 0 20px 0;
        /*background: #4820da;*/
        background: #f7f7f7;
        border-bottom: 1px solid #ededed;
        margin-bottom: 40px;
    }
    /*
    .breadcrumbs h2 {
        font-size: 28px;
        font-weight: 700;
        color: #daa620;
    }*/
    
    .breadcrumbs ol {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0 0 5px 0;
        margin: 0;
        font-size: 14px;
    }
    
    .breadcrumbs ol li+li {
        padding-left: 10px;
    }
    
    .breadcrumbs ol li+li::before {
        display: inline-block;
        padding-right: 10px;
        color: #daa620;
        content: "/";
    }

    /*--- Featured---*/    
    .featured {
        position: relative;
        z-index: 2;
    }
    
    .featured .icon-box {
        padding: 40px 30px;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        background: #fff;
        transition: all ease-in-out 0.3s;
        height: 100%;
    }
    
    .featured .icon-box i {
        color: #0000ea;
        font-size: 42px;
        margin-bottom: 15px;
        display: block;
        line-height: 0;
    }
    
    .featured .icon-box h3 {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 20px;
    }
    
    .featured .icon-box h3 a {
        color: #545454;
        transition: 0.3s;
    }
    
    .featured .icon-box p {
        color: #545454;
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
    }
    
    .featured .icon-box:hover {
        background: #cc7606;
        /* background: #e96b56;         
        background-image: url(/zoghorisacco/assets/img/clients/values.png);*/
    }
    
    .featured .icon-box:hover i,
    .featured .icon-box:hover h3 a,
    .featured .icon-box:hover p {
        color: #fff;
    }

    /*--- Choose ----*/

.choose {
	padding-bottom: 20px;
	padding-top: 80px;
}

.choose__item {
	background: #ffffff;
	-webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	text-align: center;
	padding: 0 30px 60px;
	margin-bottom: 80px;
}

.choose__item img {
	margin-top: -40px;
}

.choose__item h5 {
	font-size: 20px;
	color: #323232;
	font-weight: 700;
	margin-bottom: 12px;
	margin-top: 35px;
}

.choose__item p {
	margin-bottom: 0;
}
.choose__item:hover{
    background: #ffff00;
    font-size: large;
}


/*---------------------
  Testimonial
-----------------------*/



    /*----# About---*/
    /*
    .about {
    content: "";
    background: #1b1b1b;
    position: absolute;
    bottom: 60px;
    top: 60px;
    left: 0;
    right: 0;
     transform: skewY(-3deg);}*/
    
    .about {
        color: #fff;
        content: "";
        /*background: #1b1b1b;*/
        background: #121010;
        /*background: linear-gradient(90deg, rgba(23,11,234,1) 1%, rgba(232,168,25,0.9995720700389531) 47%, rgba(243,194,7,1) 100%);
        /*transform: skewY(-3deg);*/
    }
    
    .about .container {
        position: relative;
        z-index: 10;
    }
    
    .about .content {
        padding: 30px 30px 30px 0;
    }
    
    .about .content h3 {
        font-weight: 700;
        font-size: 34px;
        margin-bottom: 30px;
    }
    
    .about .content p {
        margin-bottom: 30px;
    }
    
    .about .content .about-btn {
        padding: 8px 30px 9px 30px;
        color: #fff;
        border-radius: 50px;
        transition: 0.3s;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 13px;
        display: inline-flex;
        align-items: center;
        /*border: 2px solid #e03a3c;*/
        border: 2px solid #0a22f6;
    }
    
    .about .content .about-btn i {
        font-size: 16px;
        padding-left: 5px;
    }
    
    .about .content .about-btn:hover {
        background: #efb804;
        background: #e9f902;
    }
    
    .about .icon-boxes .icon-box {
        margin-top: 30px;
    }
    
    .about .icon-boxes .icon-box i {
        font-size: 40px;
        color: #0a22f6;
        margin-bottom: 10px;
    }
    
    .about .icon-boxes .icon-box h4 {
        font-size: 20px;
        font-weight: 700;
        margin: 0 0 10px 0;
    }
    
    .about .icon-boxes .icon-box p {
        font-size: 15px;
        color: #848484;
    }
    
    @media (max-width: 1200px) {
        .about .content {
            padding-right: 0;
        }
    }
    
    @media (max-width: 768px) {
        .about {
            text-align: center;
        }
    }
    /*--- HISTORY---*/
    
    .history {
        overflow: hidden;
    }
    
    .history .nav-tabs {
        border: 0;
    }
    
    .history .nav-link {
        border: 0;
        padding: 12px 15px 12px 0;
        transition: 0.3s;
        color: #2c4964;
        border-radius: 0;
        border-right: 2px solid #ebf1f6;
        font-weight: 600;
        font-size: 15px;
    }
    
    .history .nav-link:hover {
        color: #1977cc;
    }
    
    .history .nav-link.active {
        color: #1977cc;
        border-color: #1977cc;
    }
    
    .history .tab-pane.active {
        -webkit-animation: fadeIn 0.5s ease-out;
        animation: fadeIn 0.5s ease-out;
    }
    
    .history .details h3 {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 20px;
        color: #2c4964;
    }
    
    .history .details p {
        color: #777777;
    }
    
    .history .details p:last-child {
        margin-bottom: 0;
    }
    
    @media (max-width: 992px) {
        .history .nav-link {
            border: 0;
            padding: 15px;
        }
        .history .nav-link.active {
            color: #fff;
            background: #1977cc;
        }
    }

    /*--SERVICES SECTION---*
    
    .services .icon-box {
        padding: 30px;
        position: relative;
        overflow: hidden;
        margin: 0 0 40px 0;
        background: #fff;
        box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
        transition: all 0.3s ease-in-out;
        border-radius: 15px;
        text-align: center;
        border-bottom: 3px solid #fff;
    }
    
    .services .icon-box:hover {
        transform: translateY(-5px);
        border-color: #ef7f4d;
    }
    
    #services .row p {
        text-align: justify;
    }
    
    .services .icon i {
        font-size: 48px;
        line-height: 1;
        margin-bottom: 15px;
        color: #fc9004;
    }
    
    .services .title {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;
    }
    
    .services .title a {
        color: #111;
    }
    
    .services .description {
        font-size: 15px;
        line-height: 28px;
        margin-bottom: 0;
    }
    
    .icon-box h4 {
        text-align: center;
    }*/
    
/**TESTIMONIAL CSS**/
    .testimonial-container {
        display: flex;
        overflow: hidden;
        width: auto;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        /* max-width: 980px;*/
    }
    
    .testimonial {
        min-width: 100%;
        box-sizing: border-box;
        padding: 16px;
        text-align: center;
    }
    
    .testimonial img.avatar {
        border-radius: 50%;
        width: 90px;
        margin-bottom: 10px;
    }
    
    .testimonial span {
        font-size: 20px;
        font-weight: bold;
        display: block;
    }
    
    /**@media (max-width: 500px) {
        .testimonial-container {
            flex-direction: column;
        }
    }**/
    .testimony{
    background: #f7f7f7;
    border: 0;
    }
    /**.youtube-widget { 
    background-color: #fff; 
    padding: 20px; 
    margin: 50px auto; 
    max-width: 600px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
    } 
    .youtube-widget h2 { 
    margin-bottom: 20px; 
    } 
    .youtube-widget iframe { 
    width: 100%; 
    height: 315px; 
    border: none; 
    }
    */

/*---------------------
  Counter
-----------------------*/

.counter {
	padding-top: 80px;
	padding-bottom: 60px;
}

.counter__item {
	text-align: center;
	margin-bottom: 30px;
}

.counter__item .counter__number {
	margin-top: 10px;
}

.counter__item .counter__number h2 {
	font-size: 40px;
	color: #323232;
	font-weight: 700;
	display: inline-block;
}

.counter__item .counter__number span {
	font-size: 40px;
	color: #323232;
	font-weight: 700;
	display: inline-block;
}


    /*------# Counts--*/
    
    .counts .count-box {
        box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
        padding: 30px;
        width: 100%;
    }
    
    .counts .count-box i {
        display: block;
        font-size: 30px;
        color: #e96b56;
        float: left;
        line-height: 0;
    }
    
    .counts .count-box span {
        font-size: 42px;
        line-height: 24px;
        display: block;
        font-weight: 700;
        color: #545454;
        margin-left: 50px;
    }
    
    .counts .count-box p {
        padding: 30px 0 0 0;
        margin: 0;
        font-family: "Raleway", sans-serif;
        font-size: 14px;
    }
    
    .counts .count-box a {
        font-weight: 600;
        display: block;
        margin-top: 20px;
        color: #7a7a7a;
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        transition: ease-in-out 0.3s;
    }
    
    .counts .count-box a:hover {
        color: #a1a1a1;
    }




    /*----# Our Clients----*/
    
    .clients .swiper-pagination {
        margin-top: 20px;
        position: relative;
    }
    
    .clients .swiper-pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #fff;
        background: #00008b;
        opacity: 1;
        border: 1px solid #e96b56;
    }
    
    .clients .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #e96b56;
    }
    
    .clients .swiper-slide img {
        /* opacity: 0.5;*/
        transition: 0.3s;
        /*filter: grayscale(100);*/
    }
    
    .clients .swiper-slide img:hover {
        filter: none;
        opacity: 1;
    }
    
    .card-img-top {
        border-radius: 50%;
    }
    /*----# Team----*/
    
    .team .member {
        text-align: center;
        margin-bottom: 20px;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
        padding: 30px 20px;
        background: #fff;
    }
    
    .team .member img {
        max-width: 60%;
        border-radius: 50%;
        margin: 0 0 30px 0;
    }
    
    .team .member h4 {
        font-weight: 700;
        margin-bottom: 2px;
        font-size: 18px;
    }
    
    .team .member span {
        font-style: italic;
        display: block;
        font-size: 13px;
    }
    
    .team .member p {
        padding-top: 10px;
        font-size: 14px;
        font-style: italic;
        color: #aaaaaa;
    }
    
    .team .member .social {
        margin-top: 15px;
    }
    
    .team .member .social a {
        color: #919191;
        transition: 0.3s;
    }
    
    .team .member .social a:hover {
        color: #e96b56;
    }
    
    .team .member .social i {
        font-size: 18px;
        margin: 0 2px;
    }

    /*---# Recent Blog Posts---*/
    
    .recent-blog-posts .post-box {
        box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
        transition: 0.3s;
        height: 100%;
        overflow: hidden;
        padding: 30px;
        border-radius: 8px;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .recent-blog-posts .post-box .post-img {
        overflow: hidden;
        margin: -30px -30px 15px -30px;
        position: relative;
    }
    
    .recent-blog-posts .post-box .post-img img {
        transition: 0.5s;
    }
    
    .recent-blog-posts .post-box .post-date {
        font-size: 16px;
        font-weight: 600;
        color: rgba(1, 41, 112, 0.6);
        display: block;
        margin-bottom: 10px;
    }
    
    .recent-blog-posts .post-box .post-title {
        font-size: 24px;
        color: #012970;
        font-weight: 700;
        margin-bottom: 18px;
        position: relative;
        transition: 0.3s;
    }
    
    .recent-blog-posts .post-box .readmore {
        display: flex;
        align-items: center;
        font-weight: 600;
        line-height: 1;
        transition: 0.3s;
    }
    
    .recent-blog-posts .post-box .readmore i {
        line-height: 0;
        margin-left: 4px;
        font-size: 18px;
    }
    
    .recent-blog-posts .post-box:hover .post-title {
        color: #4154f1;
    }
    
    .recent-blog-posts .post-box:hover .post-img img {
        transform: rotate(6deg) scale(1.2);
    }
    /*--------------------------------------------------------------
# Contact
--------------------------------------------------------------
    
    .contact .info-box {
        color: #444444;
        text-align: center;
        box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
        padding: 20px 0 30px 0;
    }
    
    .contact .info-box i {
        font-size: 32px;
        color: #e96b56;
        border-radius: 50%;
        padding: 8px;
        border: 2px dotted #fef5f4;
    }
    
    .contact .info-box h3 {
        font-size: 20px;
        color: #777777;
        font-weight: 700;
        margin: 10px 0;
    }
    
    .contact .info-box p {
        padding: 0;
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
    }
    
    .contact .php-email-form {
        box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
        padding: 30px;
    }
    
    .contact .php-email-form .validate {
        display: none;
        color: red;
        margin: 0 0 15px 0;
        font-weight: 400;
        font-size: 13px;
    }
    
    .contact .php-email-form .error-message {
        display: none;
        color: #fff;
        background: #ed3c0d;
        text-align: left;
        padding: 15px;
        font-weight: 600;
    }
    
    .contact .php-email-form .error-message br+br {
        margin-top: 25px;
    }
    
    .contact .php-email-form .sent-message {
        display: none;
        color: #fff;
        background: #18d26e;
        text-align: center;
        padding: 15px;
        font-weight: 600;
    }
    
    .contact .php-email-form .loading {
        display: none;
        background: #fff;
        text-align: center;
        padding: 15px;
    }
    
    .contact .php-email-form .loading:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        -webkit-animation: animate-loading 1s linear infinite;
        animation: animate-loading 1s linear infinite;
    }
    
    .contact .php-email-form input,
    .contact .php-email-form textarea {
        border-radius: 0;
        box-shadow: none;
        font-size: 14px;
    }
    
    .contact .php-email-form input:focus,
    .contact .php-email-form textarea:focus {
        border-color: #e96b56;
    }
    
    .contact .php-email-form input {
        padding: 10px 15px;
    }
    
    .contact .php-email-form textarea {
        padding: 12px 15px;
    }
    
    .contact .php-email-form button[type=submit] {
        background: #e96b56;
        border: 0;
        border-radius: 50px;
        padding: 10px 24px;
        color: #fff;
        transition: 0.4s;
    }
    
    .contact .php-email-form button[type=submit]:hover {
        background: #e6573f;
    }
    
    @-webkit-keyframes animate-loading {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    @keyframes animate-loading {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    /*-----# Contact------*/
    
    .contact .info-box {
        color: #2d405f;
        text-align: center;
        box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
        padding: 20px 0 30px 0;
        background: #fff;
    }
    
    .contact .info-box i {
        font-size: 32px;
        color: #3b4ef8;
        padding: 8px;
    }
    
    .contact .info-box h3 {
        font-size: 20px;
        color: #777777;
        font-weight: 700;
        margin: 10px 0;
    }
    
    .contact .info-box p {
        padding: 0;
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
    }
    
    .contact .php-email-form {
        box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
        padding: 30px;
        background: #fff;
    }
    
    .contact .php-email-form .error-message {
        display: none;
        color: #fff;
        background: #ed3c0d;
        text-align: left;
        padding: 15px;
        font-weight: 600;
    }
    
    .contact .php-email-form .error-message br+br {
        margin-top: 25px;
    }
    
    .contact .php-email-form .sent-message {
        display: none;
        color: #fff;
        background: #18d26e;
        text-align: center;
        padding: 15px;
        font-weight: 600;
    }
    
    .contact .php-email-form .loading {
        display: none;
        background: #fff;
        text-align: center;
        padding: 15px;
    }
    
    .contact .php-email-form .loading:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        -webkit-animation: animate-loading 1s linear infinite;
        animation: animate-loading 1s linear infinite;
    }
    
    .contact .php-email-form input,
    .contact .php-email-form textarea {
        border-radius: 5px;
        box-shadow: none;
        font-size: 14px;
    }
    
    .contact .php-email-form input:focus,
    .contact .php-email-form textarea:focus {
        border-color: #8ea5ca;
    }
    
    .contact .php-email-form input {
        padding: 10px 15px;
    }
    
    .contact .php-email-form textarea {
        padding: 12px 15px;
    }
    
    .contact .php-email-form button[type=submit] {
        background: #3b4ef8;
        border: 0;
        padding: 10px 24px;
        color: #fff;
        transition: 0.4s;
        border-radius: 5px;
    }
    
    .contact .php-email-form button[type=submit]:hover {
        background: #0a22f6;
    }
    
    @-webkit-keyframes animate-loading {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    @keyframes animate-loading {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    
    /*--Breadcrumb ---*/

.breadcrumb-option {
	padding: 70px 0 65px;
}

.breadcrumb-option.contact-breadcrumb {
	padding: 70px 0 260px;
}

.breadcrumb-option.contact-breadcrumb h2 {
	margin-bottom: 0;
}

.breadcrumb__text h2 {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 5px;
}

.breadcrumb__links a {
	font-size: 15px;
	color: #ffffff;
	margin-right: 18px;
	display: inline-block;
	position: relative;
}

.breadcrumb__links a:after {
	position: absolute;
	right: -15px;
	top: 0;
	content: "";
	font-family: "FontAwesome";
}

.breadcrumb__links span {
	font-size: 15px;
	color: #a8a8a8;
	display: inline-block;
}



/*---------------------
    History
-----------------------*/

.history .section-title h2 {
	color: #ffffff;
}

.history .section-title p {
	color: #ffffff;
}

.history__img img {
	border-radius: 2px;
	min-width: 100%;
}

.history__text {
	position: relative;
	height: 460px;
	padding-left: 44px;
	padding-right: 15px;
	overflow-y: auto;
}

.history__text:before {
	position: absolute;
	left: 9px;
	top: 0;
	height: 100%;
	width: 2px;
	background: rgba(255, 255, 255, 0.1);
	content: "";
}

.history__item {
	position: relative;
	margin-bottom: 55px;
}

.history__item .history__indicator {
	position: absolute;
	left: -44px;
	top: 2px;
	height: 20px;
	width: 20px;
	background: rgba(255, 255, 255, 0.1);
	content: "";
	border-radius: 50%;
}

.history__item .history__indicator:after {
	position: absolute;
	left: 5px;
	top: 5px;
	height: 10px;
	width: 10px;
	background: #88C417;
	content: "";
	border-radius: 50%;
}

.history__item span {
	font-size: 14px;
	color: #88C417;
}

.history__item h4 {
	color: #ffffff;
	font-weight: 700;
	margin-top: 4px;
	margin-bottom: 10px;
}

.history__item p {
	color: #ffffff;
	margin-bottom: 0;
}


    .blog {
        padding: 40px 0 20px 0;
    }
    
    .blog .entry {
        padding: 30px;
        margin-bottom: 60px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    }
    
    .blog .entry .entry-img {
        max-height: 440px;
        margin: -30px -30px 20px -30px;
        overflow: hidden;
    }
    
    .blog .entry .entry-title {
        font-size: 28px;
        font-weight: bold;
        padding: 0;
        margin: 0 0 20px 0;
    }
    
    .blog .entry .entry-title a {
        color: #545454;
        transition: 0.3s;
    }
    
    .blog .entry .entry-title a:hover {
        color: #e96b56;
    }
    
    .blog .entry .entry-meta {
        margin-bottom: 15px;
        color: #bababa;
    }
    
    .blog .entry .entry-meta ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    
    .blog .entry .entry-meta ul li+li {
        padding-left: 20px;
    }
    
    .blog .entry .entry-meta i {
        font-size: 16px;
        margin-right: 8px;
        line-height: 0;
    }
    
    .blog .entry .entry-meta a {
        color: #777777;
        font-size: 14px;
        display: inline-block;
        line-height: 1;
    }
    
    .blog .entry .entry-content p {
        line-height: 24px;
    }
    
    .blog .entry .entry-content .read-more {
        -moz-text-align-last: right;
        text-align-last: right;
    }
    
    .blog .entry .entry-content .read-more a {
        display: inline-block;
        background: #e96b56;
        color: #fff;
        padding: 6px 20px;
        transition: 0.3s;
        font-size: 14px;
        border-radius: 4px;
    }
    
    .blog .entry .entry-content .read-more a:hover {
        background: #ec7f6d;
    }
    
    .blog .entry .entry-content h3 {
        font-size: 22px;
        margin-top: 30px;
        font-weight: bold;
    }
    
    .blog .entry .entry-content blockquote {
        overflow: hidden;
        background-color: #fafafa;
        padding: 60px;
        position: relative;
        text-align: center;
        margin: 20px 0;
    }
    
    .blog .entry .entry-content blockquote p {
        color: #444444;
        line-height: 1.6;
        margin-bottom: 0;
        font-style: italic;
        font-weight: 500;
        font-size: 22px;
    }
    
    .blog .entry .entry-content blockquote::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
        background-color: #545454;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .blog .entry .entry-footer {
        padding-top: 10px;
        border-top: 1px solid #e6e6e6;
    }
    
    .blog .entry .entry-footer i {
        color: #a1a1a1;
        display: inline;
    }
    
    .blog .entry .entry-footer a {
        color: #616161;
        transition: 0.3s;
    }
    
    .blog .entry .entry-footer a:hover {
        color: #e96b56;
    }
    
    .blog .entry .entry-footer .cats {
        list-style: none;
        display: inline;
        padding: 0 20px 0 0;
        font-size: 14px;
    }
    
    .blog .entry .entry-footer .cats li {
        display: inline-block;
    }
    
    .blog .entry .entry-footer .tags {
        list-style: none;
        display: inline;
        padding: 0;
        font-size: 14px;
    }
    
    .blog .entry .entry-footer .tags li {
        display: inline-block;
    }
    
    .blog .entry .entry-footer .tags li+li::before {
        padding-right: 6px;
        color: #6c757d;
        content: ",";
    }
    
    .blog .entry .entry-footer .share {
        font-size: 16px;
    }
    
    .blog .entry .entry-footer .share i {
        padding-left: 5px;
    }
    
    .blog .entry-single {
        margin-bottom: 30px;
    }
    
    .blog .blog-author {
        padding: 20px;
        margin-bottom: 30px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    }
    
    .blog .blog-author img {
        width: 120px;
        margin-right: 20px;
    }
    
    .blog .blog-author h4 {
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 0px;
        padding: 0;
        color: #545454;
    }
    
    .blog .blog-author .social-links {
        margin: 0 10px 10px 0;
    }
    
    .blog .blog-author .social-links a {
        color: rgba(84, 84, 84, 0.5);
        margin-right: 5px;
    }
    
    .blog .blog-author p {
        font-style: italic;
        color: #b7b7b7;
    }
    
    .blog .blog-comments {
        margin-bottom: 30px;
    }
    
    .blog .blog-comments .comments-count {
        font-weight: bold;
    }
    
    .blog .blog-comments .comment {
        margin-top: 30px;
        position: relative;
    }
    
    .blog .blog-comments .comment .comment-img {
        margin-right: 14px;
    }
    
    .blog .blog-comments .comment .comment-img img {
        width: 60px;
    }
    
    .blog .blog-comments .comment h5 {
        font-size: 16px;
        margin-bottom: 2px;
    }
    
    .blog .blog-comments .comment h5 a {
        font-weight: bold;
        color: #444444;
        transition: 0.3s;
    }
    
    .blog .blog-comments .comment h5 a:hover {
        color: #e96b56;
    }
    
    .blog .blog-comments .comment h5 .reply {
        padding-left: 10px;
        color: #545454;
    }
    
    .blog .blog-comments .comment h5 .reply i {
        font-size: 20px;
    }
    
    .blog .blog-comments .comment time {
        display: block;
        font-size: 14px;
        color: #6e6e6e;
        margin-bottom: 5px;
    }
    
    .blog .blog-comments .comment.comment-reply {
        padding-left: 40px;
    }
    
    .blog .blog-comments .reply-form {
        margin-top: 30px;
        padding: 30px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    }
    
    .blog .blog-comments .reply-form h4 {
        font-weight: bold;
        font-size: 22px;
    }
    
    .blog .blog-comments .reply-form p {
        font-size: 14px;
    }
    
    .blog .blog-comments .reply-form input {
        border-radius: 4px;
        padding: 10px 10px;
        font-size: 14px;
    }
    
    .blog .blog-comments .reply-form input:focus {
        box-shadow: none;
        border-color: #f5bab0;
    }
    
    .blog .blog-comments .reply-form textarea {
        border-radius: 4px;
        padding: 10px 10px;
        font-size: 14px;
    }
    
    .blog .blog-comments .reply-form textarea:focus {
        box-shadow: none;
        border-color: #f5bab0;
    }
    
    .blog .blog-comments .reply-form .form-group {
        margin-bottom: 25px;
    }
    
    .blog .blog-comments .reply-form .btn-primary {
        border-radius: 4px;
        padding: 10px 20px;
        border: 0;
        background-color: #545454;
    }
    
    .blog .blog-comments .reply-form .btn-primary:hover {
        background-color: #616161;
    }
    
    .blog .blog-pagination {
        color: #878787;
    }
    
    .blog .blog-pagination ul {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .blog .blog-pagination li {
        margin: 0 5px;
        transition: 0.3s;
    }
    
    .blog .blog-pagination li a {
        color: #545454;
        padding: 7px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .blog .blog-pagination li.active,
    .blog .blog-pagination li:hover {
        background: #e96b56;
    }
    
    .blog .blog-pagination li.active a,
    .blog .blog-pagination li:hover a {
        color: #fff;
    }
    
    .blog .sidebar {
        padding: 30px;
        margin: 0 0 60px 20px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    }
    
    .blog .sidebar .sidebar-title {
        font-size: 20px;
        font-weight: 700;
        padding: 0 0 0 0;
        margin: 0 0 15px 0;
        color: #545454;
        position: relative;
    }
    
    .blog .sidebar .sidebar-item {
        margin-bottom: 30px;
    }
    
    .blog .sidebar .search-form form {
        background: #fff;
        border: 1px solid #ddd;
        padding: 3px 10px;
        position: relative;
    }
    
    .blog .sidebar .search-form form input[type=text] {
        border: 0;
        padding: 4px;
        border-radius: 4px;
        width: calc(100% - 40px);
    }
    
    .blog .sidebar .search-form form button {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        border: 0;
        background: none;
        font-size: 16px;
        padding: 0 15px;
        margin: -1px;
        background: #e96b56;
        color: #fff;
        transition: 0.3s;
        border-radius: 0 4px 4px 0;
        line-height: 0;
    }
    
    .blog .sidebar .search-form form button i {
        line-height: 0;
    }
    
    .blog .sidebar .search-form form button:hover {
        background: #eb7b68;
    }
    
    .blog .sidebar .categories ul {
        list-style: none;
        padding: 0;
    }
    
    .blog .sidebar .categories ul li+li {
        padding-top: 10px;
    }
    
    .blog .sidebar .categories ul a {
        color: #545454;
        transition: 0.3s;
    }
    
    .blog .sidebar .categories ul a:hover {
        color: #e96b56;
    }
    
    .blog .sidebar .categories ul a span {
        padding-left: 5px;
        color: #aaaaaa;
        font-size: 14px;
    }
    
    .blog .sidebar .recent-posts .post-item+.post-item {
        margin-top: 15px;
    }
    
    .blog .sidebar .recent-posts img {
        width: 80px;
        float: left;
    }
    
    .blog .sidebar .recent-posts h4 {
        font-size: 15px;
        margin-left: 95px;
        font-weight: bold;
    }
    
    .blog .sidebar .recent-posts h4 a {
        color: #545454;
        transition: 0.3s;
    }
    
    .blog .sidebar .recent-posts h4 a:hover {
        color: #e96b56;
    }
    
    .blog .sidebar .recent-posts time {
        display: block;
        margin-left: 95px;
        font-style: italic;
        font-size: 14px;
        color: #aaaaaa;
    }
    
    .blog .sidebar .tags {
        margin-bottom: -10px;
    }
    
    .blog .sidebar .tags ul {
        list-style: none;
        padding: 0;
    }
    
    .blog .sidebar .tags ul li {
        display: inline-block;
    }
    
    .blog .sidebar .tags ul a {
        color: #949494;
        font-size: 14px;
        padding: 6px 14px;
        margin: 0 6px 8px 0;
        border: 1px solid white;
        display: inline-block;
        transition: 0.3s;
    }
    
    .blog .sidebar .tags ul a:hover {
        color: #fff;
        border: 1px solid #e96b56;
        background: #e96b56;
    }
    
    .blog .sidebar .tags ul a span {
        padding-left: 5px;
        color: #ededed;
        font-size: 14px;
    }

    /*--# Footer---*/
    
    #footer {
        /*color: #444444;*/
        font-size: 14px;
        background: #f1f3ff;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    }
    
    #footer .footer-top {
        padding: 60px 0 30px 0;
        background: #fff;
    }
    
    #footer .footer-top .footer-contact {
        margin-bottom: 30px;
    }
    
    #footer .footer-top .footer-contact h4 {
        font-size: 22px;
        margin: 0 0 30px 0;
        padding: 2px 0 2px 0;
        line-height: 1;
        font-weight: 700;
        color: #0000ea;
    }
    
    #footer .footer-top .footer-contact p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
        font-family: "Krub", sans-serif;
        color: #000;
    }
    
    #footer .footer-top h4 {
        font-size: 16px;
        font-weight: bold;
        color: #0000ea;
        position: relative;
        padding-bottom: 12px;
    }
    
    #footer .footer-top .footer-links {
        margin-bottom: 30px;
    }
    
    #footer .footer-top .footer-links ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    #footer .footer-top .footer-links ul i {
        padding-right: 2px;
        color: #F7CE68;
        font-size: 18px;
        line-height: 1;
    }
    
    #footer .footer-top .footer-links ul li {
        padding: 10px 0;
        display: flex;
        align-items: center;
    }
    
    #footer .footer-top .footer-links ul li:first-child {
        padding-top: 0;
    }
    
    #footer .footer-top .footer-links ul a {
        color: #000;
        transition: 0.3s;
        display: inline-block;
        line-height: 1;
    }
    
    #footer .footer-top .footer-links ul a:hover {
        text-decoration: none;
        color: #f8b93b;
    }
    
    #footer .footer-newsletter {
        font-size: 15px;
    }
    
    #footer .footer-newsletter h4 {
        font-size: 16px;
        font-weight: bold;
        color: #000;
        position: relative;
        padding-bottom: 12px;
    }
    
    #footer .footer-newsletter form {
        margin-top: 30px;
        background: #fff;
        padding: 6px 10px;
        position: relative;
        border-radius: 5px;
        text-align: left;
        border: 1px solid #9da7fc;
    }
    
    #footer .footer-newsletter form input[type=email] {
        border: 0;
        padding: 4px 8px;
        width: calc(100% - 100px);
    }
    
    #footer .footer-newsletter form input[type=submit] {
        position: absolute;
        top: -1px;
        right: -2px;
        bottom: -1px;
        border: 0;
        background: none;
        font-size: 16px;
        padding: 0 20px;
        background: #3b4ef8;
        color: #fff;
        transition: 0.3s;
        border-radius: 0 5px 5px 0;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    }
    
    #footer .footer-newsletter form input[type=submit]:hover {
        background: #0a22f6;
    }
    
    #footer .credits {
        padding-top: 5px;
        font-size: 13px;
        color: #444444;
    }
    
    #footer .social-links a {
        font-size: 18px;
        display: inline-block;
        background: #e7eafe;
        color: #3b4ef8;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 5px;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;
    }
    
    #footer .social-links a:hover {
        background: #3b4ef8;
        color: #fff;
        text-decoration: none;
    }
    
    /*--FORMS REGISTRATION------*/
    
    #register .container {
        max-width: 700px;
        width: 100%;
        background-color: #fff;
        padding: 25px 30px;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    }
    /*
    .container .title {
        font-size: 25px;
        font-weight: 500;
        position: relative;
    }
    
    .container .title::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 30px;
        border-radius: 5px;
        background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    }*/
    
    .content form .user-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;
    }
    
    form .user-details .input-box {
        margin-bottom: 15px;
        width: calc(100% / 2 - 20px);
    }
    
    form .input-box span.details {
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
    }
    
    .user-details .input-box input {
        height: 45px;
        width: 100%;
        outline: none;
        font-size: 16px;
        border-radius: 5px;
        padding-left: 15px;
        border: 1px solid #ccc;
        border-bottom-width: 2px;
        transition: all 0.3s ease;
    }
    
    .user-details .input-box input:focus,
    .user-details .input-box input:valid {
        border-color: #FBAB7E;
    }
    
    form .gender-details .gender-title {
        font-size: 20px;
        font-weight: 500;
    }
    
    form .category {
        display: flex;
        width: 80%;
        margin: 14px 0;
        justify-content: space-between;
    }
    
    form .category label {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    
    form .category label .dot {
        height: 18px;
        width: 18px;
        border-radius: 50%;
        margin-right: 10px;
        background: #d9d9d9;
        border: 5px solid transparent;
        transition: all 0.3s ease;
    }
    
    #dot-1:checked~.category label .one,
    #dot-2:checked~.category label .two,
    #dot-3:checked~.category label .three {
        background: #9b59b6;
        border-color: #d9d9d9;
    }
    
    form input[type="radio"] {
        display: none;
    }
    
    form .button {
        height: 45px;
        margin: 35px 0
    }
    
    form .button input {
        height: 100%;
        width: 100%;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;
        background-color: #FBAB7E;
        background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    }
    
    form .button input:hover {
        transform: scale(0.99);
        background-color: #FBAB7E;
        background-image: linear-gradient(250deg, #FBAB7E 0%, #F7CE68 100%);
    }
    
    @media(max-width: 584px) {
        .container {
            max-width: 100%;
        }
        form .user-details .input-box {
            margin-bottom: 15px;
            width: 100%;
        }
        form .category {
            width: 100%;
        }
        .content form .user-details {
            max-height: 300px;
            overflow-y: scroll;
        }
        .user-details::-webkit-scrollbar {
            width: 5px;
        }
    }
    
    @media(max-width: 459px) {
        .container .content .category {
            flex-direction: column;
        }
    }
    
    .entry-content blockquote {
        overflow: hidden;
        background-color: #00008b;
        padding: 60px;
        position: relative;
        text-align: center;
        margin: 20px 0;
    }
    
    .entry-content blockquote p {
        color: #fff;
        line-height: 1.6;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 22px;
        text-transform: capitalize !important;
    }
    
    .entry-content blockquote::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
        /*background-color: #545454;*/
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /*
.page-heading {
	text-align: center;
	background-image: url(../images/page-heading-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 230px 0px 150px 0px;
	color: #fff;
}

.page-heading h1 {
	text-transform: capitalize;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 2px;
	margin-bottom: 18px;
}

.page-heading span {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	display: block;
}

*/

/* Contact Information */

.contact-information {
	margin-top: 140px;
}

.contact-information .contact-item {
	padding: 60px 30px;
	background-color: #f7f7f7;
	text-align: center;
}

.contact-information .contact-item i {
	color: #a4c639;
	font-size: 48px;
	margin-bottom: 40px;
}

.contact-information .contact-item h4 {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.25px;
	margin-bottom: 15px;
}

.contact-information .contact-item p {
	margin-bottom: 20px;
}

.contact-information .contact-item a {
	font-weight: 600;
	color: #a4c639;
	font-size: 15px;
}

/*----# Courses-----*/
.courses .course-item {
    border-radius: 5px;
    border: 4px solid #eef0ef;
  }
  
  .courses .course-content {
    padding: 15px;
  }
  
  .courses .course-content h3 {
    font-weight: 700;
    font-size: 20px;
    /*color: #000;*/
  }
  
  .courses .course-content h3 a {
    color: #37423b;
    transition: 0.3s;
  }
  
  .courses .course-content h3 a:hover {
    color: #5fcf80;
  }
  */
  .courses .course-content p {
    font-size: 14px;
    /*color: #777777;*/
  }
  .courses .course-content button a{
    color: #000;
  }
  .courses .course-content h3 {
    font-size: 14px;
    background: #800000;
    padding: 7px 14px;
    color: #fff;
    margin: 0;
  }

  /* Fun Facts */

.fun-facts {
	margin-top: 140px;
	background-image: url(../img/breadcrumb/fun-facts-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 140px 0px;
	color: #fff;
}

.fun-facts span {
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 10px;
	display: block;
}

.fun-facts h2 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 35px;
}

.fun-facts em {
	font-style: normal;
	color: #ffff00;
}

.fun-facts p {
	color: #fff;
	margin-bottom: 40px;
}

.fun-facts .left-content {
	margin-right: 45px;
}

.count-area-content {
	text-align: center;
	background-color: rgba(250,250,250,0.1);
	padding: 25px 30px 35px 30px;
	margin: 15px 0px;
}

.count-digit {
    margin: 5px 0px;
    color: #a4c639;
    font-weight: 700;
    font-size: 36px;
}
.count-title {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.5px;
}

#regForm {
                /*background-color: #C1BFBE;*/
                /*background-image: url(./assets/img/blog/slide-3.jpg);*/
                margin: 100px auto;
                padding: 40px;
                width: 70%;
                min-width: 300px;
            }
            /* Style the input fields */
            
           #regForm input {
                padding: 10px;
                width: 100%;
                font-size: 17px;
                font-family: Raleway;
                border: 1px solid #aaaaaa;
            }
            /* Mark input boxes that gets an error on validation: */
            
          #regForm  input .invalid {
                background-color: #e90f0f;
            }
            /* Hide all steps by default: */
            
           #regForm .tab {
                display: none;
            }
            /* Make circles that indicate the steps of the form: */
            
         #regForm   .step {
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #bbbbbb;
                border: none;
                border-radius: 50%;
                display: inline-block;
                opacity: 0.5;
            }
            /* Mark the active step: */
            
           #regForm .step .active {
                opacity: 1;
            }
            /* Mark the steps that are finished and valid: */
            
           #regForm .step .finish {
                background-color: #04AA6D;
            }
           
        .services { 
            display: flex; 
            flex-wrap: wrap; 
            justify-content: center; 
            padding: 20px; 
        } 
        .service { 
            background-color: #fff; 
            margin: 10px; 
            padding: 20px; 
            width: 300px; 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
            border-radius: 5px; 
            text-align: center; 
        } 
        .service img { 
            width: 100%; 
            height: auto; 
            border-radius: 5px; 
        } 
        .service h3 { 
            margin-top: 15px; 
            margin-bottom: 15px; 
        } 
        .service p { 
            margin-bottom: 10px;
        } 
        .service button { 
            padding: 10px 20px; 
            border: none; 
            border-radius: 5px; 
            background-color: #007BFF; 
            color: #fff; 
            cursor: pointer; 
        } .service button:hover { 
            background-color: #0056b3; 
        }